nav li a {
    font-weight: bold;
}

.top-section-hero .jumbotron p {
    font-weight: bold;
}

.timeslot {
    border-top: none;
}

.schedule-slot {
    border-top: 1px solid #e7e7e7;
}
@media (max-width: 767px) {
    .slot-content {
        border-top: 1px solid #e7e7e7;
    }
    .timeslot {
        border-top: none;
    }
}