---
layout: default
title: Adform Expo
permalink: /adform-expo/
# image: adform-expo.jpg
---

{% include top-section.html %}

<section style="text-align: left; padding-bottom: 0;">
    <div class="content-wrapper">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
            <div class="row">
                <p>
					Adform Expo will happen on Friday, August 19th and it will consists of 3 parts – Conference, Expo and Global Village. This day is dedicated for the market relevant topics, encourage communication and knowledge sharing among individuals and teams.
				</p>
				<br>

				<h4>Conference</h4>

				<p>
					Become a SPEAKER! Suggest your topic here <a href="http://expo.adform.com/" target="_blank">http://expo.adform.com/</a> and vote for the ones you want to hear! We will select 10-11 topics to be presented during the day.
				</p>
				<br>

				<h4>Expo</h4>

				<p>
					Why? To increase awareness about Adform business support, internal services and products.
				</p>
				<p>
					How? By showcasing Adform products/services through the presentations/workshops/activities which will help to understand what value your team creates.
				</p>
				<p>
					What can you do?<br>
					1. Showcase the product and activities in your booth<br>
					2. Provide an open space workshop<br>
					3. Be active and participate!<br>
					REGISTER <a href="https://podio.com/webforms/16169989/1085596" target="_blank">HERE</a> for booth or workshop organization on behalf of our unit.
				</p>
				<br>

				<h4>Global Village</h4>

				<p>
					The Global Village goal is to share and celebrate the cultures we have at Adform. This year we have a chance to represent our different countries and office cultures, and share with each other how we live and show the uniqueness of our cultures.
				</p>
				<p>
					How?<br>
					  1. Display of souvenirs, photos, magazines and food, drinks from the different countries<br>
					  2. Prepare the performance which represents your culture/office (dance, song, demonstration, some fun interaction with the public) (optional)
				</p>
				<p>
					Guidelines:<br>
					- You can participate and present your country culture, office or both<br>
					- The global village will be open before the dinner<br>
					- In order to participate @ Adform Global Village please fill the registration form <a href="https://docs.google.com/forms/d/e/1FAIpQLSeUbntzVASxwu7jrFyMqok6qW8I4dYtFCp4Carwb07wV7Bzqg/viewform?c=0&w=1" target="_blank">HERE</a>.
				</p>
            </div>
        </div>
    </div>
</section>

{% include schedule.html %}

<section style="text-align: left;  padding-top: 0; padding-bottom: 0;">
    <div class="content-wrapper">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
            <div class="row">
            	<h4>Venue</h4>
				<p>
                	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2306.762182788353!2d25.22281131578547!3d54.67861408178597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dd93907b1fa68d%3A0x2b6e0c93b6f20a99!2sLITEXPO%2C+Vilnius+04215!5e0!3m2!1sen!2slt!4v1468874257006" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                </p>
            </div>
        </div>
    </div>
</section>