---
layout: default
title: Bootcamps, August 18th
permalink: /bootcamps/
image: headers-bootcamps.jpg
---

{% include top-section.html %}

<section style="text-align: left; padding-bottom: 0;">
    <div class="content-wrapper">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
            <div class="row">
				<h4>PSM bootcamp</h4>
				<p>
					Organizer – Jenni Strand, email: Jenni.Strand@adform.com<br>
					Location – Office, Sporto st. 18, 714; 710; 709; 616; 614; 609; 509 meeting rooms & leisure zone<br>
					{% include schedule-psm.html %}
				</p>

				<h4>Nordic Buyside Commercial Bootcamp</h4>
				<p>
					Organizer – Mats Persson, email: Mats.Persson@adform.com<br>
					Location – Office, Sporto st. 18, 112 meeting room<br>
					<i style="font-style: italic;">Information coming soon.</i>
					<!-- % include schedule-nordic.html % -->
				</p>

				<h4>Sales Bootcamp Non-Nordics/ROW</h4>
				<p>
					Organizers – Sandra Andriuškienė, email: Sandra.Andriuskiene@adform.com,<br>Bartosz Malinowski, email: Bartosz.Malinowski@adform.com<br>
					Location – Novotel hotel, Gedimino st. 16<br>
					{% include schedule-sales.html %}
				</p>

				<h4>Publisher Platform</h4>
				<p>
					Organizer – Jörg Vogelsang, email Joerg.Vogelsang@adform.com<br>
					Location – Congress Avenue Hotel, Gedimino st. 12<br>
					{% include schedule-publisher.html %}
				</p>

				<h4>Brand Solutions</h4>
				<p>
					Organizer – David Hillier, email: David.Hillier@adform.com<br>
					Location – Office, Sporto st. 18, 711 meeting room<br>
					<i style="font-style: italic;">Information coming soon.</i>
					<!-- % include schedule-brand.html % -->
				</p>
				
				<p>&nbsp;</p>
            </div>
        </div>
    </div>
</section>

{% include team.html %}