---
layout: default
title: Bootcamps, August 16th-18th
permalink: /bootcamps/
image: headers-bootcamps.jpg
---

{% include top-section.html %}

<div style="padding: 0 20px 0;">
	<section style="text-align: left; padding-bottom: 0;">
	    <div class="content-wrapper">
	        <div class="col-lg-8 col-md-10 col-md-offset-1">
	            <div class="row">
					<h4>Security Unit Bootcamp: Making Sense of Hacking: Before, During and After</h4>
					<p>
						Organizer – Andrius Januta email: Andrius.Januta@adform.com<br>
						Location – Office, Sporto st. 18, 616  meeting room<br>
						<b>Date – August 16th-17th</b><br>
						Group size – 10-12 people<br>
						Location – Office, Sporto st. 18, 616  meeting room<br>
						<b>Register <a href='https://docs.google.com/forms/d/e/1FAIpQLSeS5XKEJWN83xO9QEXN1qOymm-Vl5SZ6Kq9DZB-CR5Ajtgmaw/viewform#start=openform' target='_blank'>HERE</a> for this bootcamp.</b>
						{% include schedule-security.html %}
					</p>

					<h4>PSM bootcamp</h4>
					<p>
						Organizer – Jenni Strand, email: Jenni.Strand@adform.com<br>
						Location – Office, Sporto st. 18, 714; 710; 709; 616; 614; 609; 509 meeting rooms & leisure zone<br>
						<b>Date – August 18th</b><br>
						{% include schedule-psm.html %}
					</p>

					<h4>Nordic Buyside Commercial Bootcamp</h4>
					<p>
						Organizer – Mats Persson, email: Mats.Persson@adform.com<br>
						Location – Office, Sporto st. 18, 112 meeting room<br>
						<b>Date – August 18th</b><br>
						<i style="font-style: italic;">Information coming soon.</i>
						<!-- % include schedule-nordic.html % -->
					</p>

					<h4>Sales Bootcamp Non-Nordics/ROW</h4>
					<p>
						Organizers – Sandra Andriuškienė, email: Sandra.Andriuskiene@adform.com,<br>Bartosz Malinowski, email: Bartosz.Malinowski@adform.com<br>
						Location – Novotel hotel, Gedimino st. 16<br>
						<b>Date – August 18th</b><br>
						{% include schedule-sales.html %}
					</p>

					<h4>Publisher Platform</h4>
					<p>
						Organizer – Jörg Vogelsang, email Joerg.Vogelsang@adform.com<br>
						Location – Congress Avenue Hotel, Gedimino st. 12<br>
						<b>Date – August 18th</b><br>
						{% include schedule-publisher.html %}
					</p>

					<p>&nbsp;</p>
	            </div>
	        </div>
	    </div>
	</section>

	{% include team.html %}
</div>