---
layout: summer-fest
title: Summer Fest
permalink: /summer-fest/
image: headers-summer-fest.jpg
---

{% include top-section.html %}

<section style="text-align: left; padding-bottom: 0; min-height: 0;">
    <div class="content-wrapper">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
            <div class="row">
				<p>
					The craziest Adform Summer Fest with lots of activities and fun! Get back to Vilnius during the night or stay overnight in tents & get back to Vilnius with busses in the morning!
				</p>
				<p>
					This year’s theme – CRAZY LAB! (Inspirations for your outfits coming soon)
				</p>
				<p>
					<b>Register <a href='https://docs.google.com/forms/d/e/1FAIpQLScgEc77hvmN-cpwxGvtLHjdcTGtXBcpsmrBrVbqNWy7uSWY8w/viewform?c=0&w=1' target='_blank'>HERE</a> if you want to experience it!</b>
				</p>
            </div>
        </div>
    </div>
</section>

{% include schedule-fest.html %}

<section style="text-align: left; padding-bottom: 50; padding-top: 0; min-height: 0;">
    <div class="content-wrapper">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
            <div class="row">
				<p>
					Busses will be going back to Vilnius during the night, detailed schedule will be announced later.
				</p>
				<p>
					If you want to stay overnight you can do that in tents.
					<b>For our foreigner colleagues’ tents will be provided, all local people please bring your own tent.</b>
				</p>
            </div>
        </div>
    </div>
</section>

{% include summer-fest-location-map.html %}

{% include summer-fest-venue.html %}